{% extends 'pape/base.html' %}

{% block content %}
<div class="table-responsive text-nowrap">
    <h2>Resultados de la busqueda</h2>
    <table class="table">
        <thead>
        <tr>            
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Lugar</th>
            <th scope="col">Categoria</th>
            <th scope="col">Cantidad_inventario</th>
            <th scope="col">Agregar al carrito</th>
        </tr>
        </thead>

        <tbody>                
            {% for item in items %}
            <tr>                
                <td><a href="{% url 'pape-detail' item.id %}">{{ item.id }}</a></td>
                <td><a href="{% url 'item-detail' item.id %}">{{ item.nombre }}</a></td>
                <td>{{ item.precio }}</td>
                <td>{{ item.lugar }}</td>
                <td>{{ item.categoria }}</td>
                <td>{{ item.cantidad_inventario }}</td>
                <td><a href="{{ item.get_add_to_cart_url }}" class="btn btn-primary btn-md">Agregar al carrito</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5"> No hay resultados de esta busqueda</td>                
            </tr>
            {% endfor %}                    
        </tbody>
    </table>
    
    {% if is_paginated %}
    
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}

</div>


{% endblock content %}

